*{
    margin: 0;
    padding: 0;
}

body{
    background: green;
}
.logo{
    filter: opacity(88%);
    position: absolute;
    z-index: 1;
    top: -15px;

}

.container {
    width: 100%;
    height: 100vh;
}
.top-nav{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.342);
    height: 55px;
    align-items: center;
    border-bottom: solid 2px snow;
}

.top-nav-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.top-nav-item{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}

.top-nav-link{
    color: snow;
    font-size: 20px;
    text-decoration: none;
}

.navbar{
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 0;
    transition: right .8s;
}

.change {
    right: 0;
}

.hamburger{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.line{
    width: 90%;
    height: 3px;
    background-color: snow;
    transition: all 0.8s;
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list{
    text-align: right;
}
.nav-item{
    list-style: none;
    margin: 25px;
    cursor: pointer;

}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: snow;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; 
}

@media screen and (min-width: 720px){
    .display-nav{
        display: none;
    }
}

@media screen and (max-width: 720px){
    .display-top-nav{
        display: none;
    }
}