*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%
}

.container {
    background: url("../img/gardening-690940_1920.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 107%;
    width: 100%;
}

.logo{
    float:left;
    filter: opacity(88%);
    position: absolute;
    
    top: -15px;

}


.top-nav{

    display: flex;

    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.637);
    height: 60px;
    align-items: center;
    border-top: solid 2px snow;
    border-bottom: solid 2px snow;

}

.top-nav-list{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.home{
    margin-right: 60px;
    letter-spacing: 5px;
}

.top-nav-item{
    font-family: 'Itim', cursive;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}

.top-nav-link{
    font-family: 'Noto Sans SC', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.top-nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
}

.top-nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar{
    z-index: 2;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 0;
    transition: right .8s;
}

.change {
    right: 0;
}

.hamburger{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.line{
    width: 90%;
    height: 3px;
    background-color: #72cf0ecc;
    transition: all 0.8s;
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list{
    text-align: right;
}
.nav-item{
    font-family: 'Itim', cursive;
    list-style: none;
    margin: 25px;
    cursor: pointer;

}
.nav-link{
    font-family: 'Noto Sans SC', sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; 
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
}

.nav-link:hover::after {
    width: 100%;
    transition: .3s;
}


.intro{
    height: 90vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.intro-item{
    margin: 20px;
    font-family: 'Lato', sans-serif;
}
.intro-headders{
    color: snow;
    font-size: 60px;
}
.intro-button{
    border-radius: 0 50px 0 50px;
    height: 80px;
    width: 200px;
    background: #72cf0ecc;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    cursor: pointer;
    color: snow;
    border: none;

}

.intro-paragraph{
    color: snow; 
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.intro-button:hover{
    background: #9cff32cc;
    transition: .3s;
}

.contact{
    font-family: 'Lato', sans-serif;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inp-head{
    margin-bottom: 25px;
    color: black;
}

.cn{
    display: inline-block;
    margin: 50px 0 50px 0;
}

#mailUs{
    border: solid 1px #eaeff4;
    outline: none;
    width: 416px;
    height: 190px;
    padding: 10px;
    margin-bottom: 5px;
}

.inp{
    padding: 5px;
    outline: none;
    border: solid 1px #eaeff4;
    height: 30px;
    width: 205px;
    margin: 0 0 10px 0;
}

.send-btn{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(105, 237, 100);
    cursor: pointer;

}
.send-btn:hover{
    background: rgba(105, 237, 100, 0.527);
    transition: .3s;
}

.sh-Head {
    margin-bottom: 50px;
    color: black;
}
.sh-Par{
    color: rgb(119, 119, 119);
    margin-bottom: 25px;
}
.ico{
    height: 25px;
    width: 25px;
    margin: 10px 2px;
    cursor: pointer;
    filter: saturate(200%);
}

.Scontainer{
    z-index: -1;
    background: url("../img/heart-1192662_1920.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 107vh;
}

.H-mother{
    display: flex;
    height: 138px;
    align-items: center;
    justify-content: center;
}
.H-1{
    color:  snow;
    box-shadow: -5px 5px rgb(0, 167, 0);
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}


.services-item{
    height: 380px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px ;
    background-color: rgba(192, 192, 192, 0.651);
    margin: 10px;
    width: 250px;
}

.s1{
    background: url(../img/2/Gros\ plan\ Tuyère.jpg) center no-repeat;
    background-size: cover;
}

.s2{
    background: url(../img/3/abc\ 010.JPG) center no-repeat;
    background-size: cover;
}
.s3{
    background: url(../img/4/garden-670516_640.jpg) center no-repeat;
    background-size: cover;
}
.s4{
    background: url(../img/5/122.JPG) center no-repeat;
    background-size: cover;
}

.exclusive{
    height: 100vh;
    border-bottom: 1px solid rgba(192, 192, 192, 0.363);
    font-family: 'Lato', sans-serif;

}
.exclusive .content{
    text-align: center;
}
@media screen and (min-width: 720px){
    .display-nav{
        display: none;
    }
    .services{
        display: flex;
        overflow-x: auto;
        height: auto;
        margin-top: 60px;
    }
    .services-item{
        min-width: 250px;
    }
}

@media screen and (max-width: 1080px){
    .intro-headders{
        font-size: 50px;
    }
}

@media screen and (max-width: 720px){

    .display-top-nav{
        display: none;
    }

    .intro-headders{

        font-size: 50px;
        margin: 100px 0 50px 0;
    }
    .inp{
        width: 147px;
    }
    #mailUs{
        width: 300px;
    }
    .H-1{
        font-size: 35px;
    }
    .services-item{
        min-height: 400px;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        max-height: 525px;
    }
}