*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%
}

.container {
    background: url("../img/gardening-690940_1920.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.logo{
    float:left;
    filter: opacity(88%);
    position: absolute;
    
    top: -15px;

}


.top-nav{

    display: flex;

    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.637);
    height: 65px;
    align-items: center;
    border-bottom: solid 2px snow;
}

.top-nav-list{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.home{
    margin-right: 60px;
    letter-spacing: 5px;
}

.top-nav-item{
    font-family: 'Itim', cursive;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}

.top-nav-link{
    font-family: 'Noto Sans SC', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.top-nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
}

.top-nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar{
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 0;
    transition: right .8s;
}

.change {
    right: 0;
}

.hamburger{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.line{
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: all 0.8s;
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list{
    text-align: right;
}
.nav-item{
    font-family: 'Itim', cursive;
    list-style: none;
    margin: 25px;
    cursor: pointer;

}
.nav-link{
    font-family: 'Noto Sans SC', sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; 
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
}

.nav-link:hover::after {
    width: 100%;
    transition: .3s;
}


.intro{
    height: 550px;
}
.intro-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.intro-item{
    text-align: center;
    margin: 45px;
    font-family: 'Lato', sans-serif;
}
.intro-headders{
    color: snow;
    font-size: 70px;
}
.intro-button{
    height: 80px;
    width: 200px;
    background: #72cf0ecc;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    cursor: pointer;
    color: snow;
    border: none;
    box-shadow: 0 1px;
}
.intro-button:hover{
    background: #9cff32cc;
    transition: .3s;
}

@media screen and (min-width: 720px){
    .display-nav{
        display: none;
    }
}

@media screen and (max-width: 720px){
    .display-top-nav{
        display: none;
    }
    .intro-headders{
        margin-top: 150px;
        color: snow;
        font-size: 50px;
    }
    .intro-item{
        text-align: center;
        margin: 20px;
        font-family: 'Lato', sans-serif;
    }
    .intro-button{
        height: 80px;
        width: 200px;
    }
}